# 1. Get dataset from the Kaggle

In [ ]:
# !wget "https://s3-eu-west-1.amazonaws.com/static.oc-static.com/prod/courses/files/AI+Engineer/Project+9+-+RÃ©alisez+une+application+mobile+de+recommandation+de+contenu/news-portal-user-interactions-by-globocom.zip"

In [3]:
!pwd

/mnt/batch/tasks/shared/LS_root/mounts/clusters/ocp8-cpu/code/Users/george.gvishiani/ocp9/notebooks

# 2. Unzip all files

In [1]:
# !unzip "news-portal-user-interactions-by-globocom.zip"

In [5]:
!ls

data.ipynb

In [6]:
# !unzip "clicks.zip"

In [7]:
import pandas as pd

In [18]:
# clicks = pd.read_csv("clicks.csv")
clicks_sample = pd.read_csv("../datasets/clicks_sample.csv")
articles_metadata = pd.read_csv("../datasets/articles_metadata.csv")

## 2.1 Dataset: clicks_sample.csv

In [9]:
clicks_sample.shape

(1883, 12)

In [10]:
clicks_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1883 entries, 0 to 1882
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              1883 non-null   int64
 1   session_id           1883 non-null   int64
 2   session_start        1883 non-null   int64
 3   session_size         1883 non-null   int64
 4   click_article_id     1883 non-null   int64
 5   click_timestamp      1883 non-null   int64
 6   click_environment    1883 non-null   int64
 7   click_deviceGroup    1883 non-null   int64
 8   click_os             1883 non-null   int64
 9   click_country        1883 non-null   int64
 10  click_region         1883 non-null   int64
 11  click_referrer_type  1883 non-null   int64
dtypes: int64(12)
memory usage: 176.7 KB

In [11]:
clicks_sample.head()

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,0,1506825423271737,1506825423000,2,157541,1506826828020,4,3,20,1,20,2
1,0,1506825423271737,1506825423000,2,68866,1506826858020,4,3,20,1,20,2
2,1,1506825426267738,1506825426000,2,235840,1506827017951,4,1,17,1,16,2
3,1,1506825426267738,1506825426000,2,96663,1506827047951,4,1,17,1,16,2
4,2,1506825435299739,1506825435000,2,119592,1506827090575,4,1,17,1,24,2

In [19]:
clicks_sample.nunique()

user_id                 707
session_id              707
session_start           619
session_size             11
click_article_id        323
click_timestamp        1883
click_environment         3
click_deviceGroup         3
click_os                  6
click_country             7
click_region             26
click_referrer_type       6
dtype: int64

In [12]:
clicks_sample.describe()

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
count,1883.000000,1.883000e+03,1.883000e+03,1883.000000,1883.000000,1.883000e+03,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000
mean,355.893787,1.506828e+15,1.506828e+12,3.459904,176717.848646,1.506830e+12,3.917153,2.305895,12.113648,1.491768,18.774827,1.764206
std,206.162865,8.679628e+08,8.679468e+05,3.037467,82324.177259,1.064938e+07,0.410461,1.062301,7.825735,2.007772,7.083400,1.225679
min,0.000000,1.506825e+15,1.506825e+12,2.000000,2137.000000,1.506827e+12,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000
25%,181.500000,1.506827e+15,1.506827e+12,2.000000,108854.000000,1.506828e+12,4.000000,1.000000,2.000000,1.000000,13.000000,1.000000
50%,353.000000,1.506828e+15,1.506828e+12,3.000000,157541.000000,1.506828e+12,4.000000,3.000000,17.000000,1.000000,21.000000,1.000000
75%,537.000000,1.506828e+15,1.506828e+12,4.000000,236697.500000,1.506829e+12,4.000000,3.000000,19.000000,1.000000,25.000000,2.000000
max,706.000000,1.506829e+15,1.506829e+12,24.000000,363291.000000,1.506998e+12,4.000000,4.000000,20.000000,11.000000,28.000000,7.000000

## 2.2 Dataset: articles_metadata

In [19]:
articles_metadata.shape

(364047, 5)

In [15]:
articles_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364047 entries, 0 to 364046
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   article_id     364047 non-null  int64
 1   category_id    364047 non-null  int64
 2   created_at_ts  364047 non-null  int64
 3   publisher_id   364047 non-null  int64
 4   words_count    364047 non-null  int64
dtypes: int64(5)
memory usage: 13.9 MB

In [16]:
articles_metadata.head()

   article_id  category_id  created_at_ts  publisher_id  words_count
0           0            0  1513144419000             0          168
1           1            1  1405341936000             0          189
2           2            1  1408667706000             0          250
3           3            1  1408468313000             0          230
4           4            1  1407071171000             0          162

In [17]:
articles_metadata.describe()

,article_id,category_id,created_at_ts,publisher_id,words_count
count,364047.000000,364047.000000,3.640470e+05,364047.0,364047.000000
mean,182023.000000,283.108239,1.474070e+12,0.0,190.897727
std,105091.461061,136.723470,4.293038e+10,0.0,59.502766
min,0.000000,0.000000,1.159356e+12,0.0,0.000000
25%,91011.500000,199.000000,1.444925e+12,0.0,159.000000
50%,182023.000000,301.000000,1.489422e+12,0.0,186.000000
75%,273034.500000,399.000000,1.509891e+12,0.0,218.000000
max,364046.000000,460.000000,1.520943e+12,0.0,6690.000000

## 2.3 Many files on clicks per hour in clicks.zip file

In [1]:
# 1. Imports
import os
import pandas as pd
# from azureml.core import Workspace, Datastore, Dataset

In [21]:
import pandas as pd, glob, os

# grab a sample of raw values
paths = glob.glob(os.path.join("../datasets/clicks", "*.csv"))
sample = pd.read_csv(paths[0], usecols=["click_timestamp"])["click_timestamp"]

print("min:", sample.min())
print("max:", sample.max())

min: 1506826800026
max: 1506998154157

In [23]:
import os
import glob
import pandas as pd

# 1. Define the smallest-possible dtypes for each integer column
clicks_dtypes = {
    "user_id":             "uint16",
    "session_id":          "uint16",
    "session_size":        "uint8",
    "click_article_id":    "uint16",
    "click_environment":   "uint8",
    "click_deviceGroup":   "uint8",
    "click_os":            "uint8",
    "click_country":       "uint8",
    "click_region":        "uint8",
    "click_referrer_type": "uint8"
}

# 2. Find all CSV files in the clicks directory
clicks_dir = "../datasets/clicks"
csv_files = glob.glob(os.path.join(clicks_dir, "*.csv"))
print(f"Found {len(csv_files)} files under '{clicks_dir}/'")

# 3. Read each CSV with enforced dtypes, convert timestamps, collect into a list
dfs = []
for fp in csv_files:
    df = pd.read_csv(fp, dtype=clicks_dtypes)
    # Convert epoch-milliseconds â datetime64[ns]
    df["session_start"]   = pd.to_datetime(df["session_start"],   unit="ms")
    df["click_timestamp"] = pd.to_datetime(df["click_timestamp"], unit="ms")
    dfs.append(df)

# 4. Concatenate into one DataFrame
clicks_df = pd.concat(dfs, ignore_index=True)

# 5. Inspect dtypes and memory footprint
print(clicks_df.dtypes)
mem_mb = clicks_df.memory_usage(deep=True).sum() / 2**20
print(f"Combined DataFrame memory usage: {mem_mb:.2f} MB")

# 6. (Optional) Persist to disk for downstream use
output_path = "../datasets/combined_clicks.parquet"
clicks_df.to_parquet(output_path, index=False)
print(f"Wrote combined DataFrame to '{output_path}'")

Found 385 files under '../datasets/clicks/'
user_id                        uint16
session_id                     uint16
session_start          datetime64[ns]
session_size                    uint8
click_article_id               uint16
click_timestamp        datetime64[ns]
click_environment               uint8
click_deviceGroup               uint8
click_os                        uint8
click_country                   uint8
click_region                    uint8
click_referrer_type             uint8
dtype: object
Combined DataFrame memory usage: 82.64 MB
Wrote combined DataFrame to 'combined_clicks.parquet'

In [26]:
# 6. (Optional) Persist to disk for downstream use
output_path = "../datasets/combined_clicks.parquet"
clicks_df.to_parquet(output_path, index=False)
print(f"Wrote combined DataFrame to '{output_path}'")

Wrote combined DataFrame to '../datasets/combined_clicks.parquet'

In [4]:
import pandas as pd

# Load the combined clicks Parquet
clicks_df = pd.read_parquet("../datasets/combined_clicks.parquet")

# Quick sanity check
print(clicks_df.shape)
print(clicks_df.dtypes)

(2988181, 12)
user_id                        uint16
session_id                     uint16
session_start          datetime64[ns]
session_size                    uint8
click_article_id               uint16
click_timestamp        datetime64[ns]
click_environment               uint8
click_deviceGroup               uint8
click_os                        uint8
click_country                   uint8
click_region                    uint8
click_referrer_type             uint8
dtype: object

In [13]:
import pandas as pd

# Explicit min/max for clear range
min_ts = clicks_df['session_start'].min()
max_ts = clicks_df['session_start'].max()
print(f"Click timestamps span from {min_ts} to {max_ts}")
print(f"Date range: {min_ts.date()} â {max_ts.date()}")

Click timestamps span from 2017-10-01 02:37:03 to 2017-10-17 03:36:19
Date range: 2017-10-01 â 2017-10-17

## 2.4 Create Train/Validation/Testing Dataset - Last Click Out for Each User

In [5]:
# 1. Load & sort
clicks_df = pd.read_parquet("../datasets/combined_clicks.parquet")
clicks_df = clicks_df.sort_values(["user_id", "click_timestamp"])

In [6]:
# 2. Identify test clicks (last per user)
last_idx = clicks_df.groupby("user_id")["click_timestamp"].idxmax()
is_test  = clicks_df.index.isin(last_idx)

In [7]:
# 3. From the TRAIN portion, identify validation clicks (now the last in train_df)
train_df_full = clicks_df.loc[~is_test]
val_idx       = train_df_full.groupby("user_id")["click_timestamp"].idxmax()
is_val        = clicks_df.index.isin(val_idx)

In [8]:
# 4. Build splits
train_df = clicks_df.loc[~is_test & ~is_val].reset_index(drop=True)
val_df   = clicks_df.loc[ is_val         ].reset_index(drop=True)
test_df  = clicks_df.loc[ is_test        ].reset_index(drop=True)

In [9]:
print(f"Train: {len(train_df):,} clicks")
print(f"Val:   {len(val_df):,} clicks (one per user)")
print(f"Test:  {len(test_df):,} clicks (one per user)")

Train: 2,857,109 clicks
Val:   65,536 clicks (one per user)
Test:  65,536 clicks (one per user)

In [10]:
output_path_train = "../datasets/train_clicks.parquet"
output_path_valid = "../datasets/valid_clicks.parquet"
output_path_test = "../datasets/test_clicks.parquet"

In [11]:
train_df.to_parquet(output_path_train, index=False)
val_df.to_parquet(output_path_valid, index=False)
test_df.to_parquet(output_path_test, index=False)

In [16]:
import pandas as pd
import numpy as np
from itertools import product

# ââ CONFIG ââââââââââââââââââââââââââââââââââââââââââââââââââââ
TRAIN_PATH        = "../datasets/train_clicks.parquet"
VAL_PATH          = "../datasets/valid_clicks.parquet"
TEST_PATH         = "../datasets/test_clicks.parquet"
META_PATH         = "../datasets/articles_metadata.csv"   # or your parquet copy
HALF_LIFE_DAYS    = [1, 3, 7, 14]
BETA_VALUES       = [0.0, 0.05, 0.1, 0.2]
FRESH_WINDOW_DAYS = 1
TOP_M             = 500
RECALL_K          = 10

In [14]:
# 1) Load train / val / test
train_df = pd.read_parquet(TRAIN_PATH)
val_df   = pd.read_parquet(VAL_PATH)
test_df  = pd.read_parquet(TEST_PATH)

# ensure timestamps are datetime
for df in (train_df, val_df, test_df):
    df["click_timestamp"] = pd.to_datetime(df["click_timestamp"], unit="ms")

print(f"Train: {train_df.shape}, Val: {val_df.shape}, Test: {test_df.shape}")

Train: (2857109, 12), Val: (65536, 12), Test: (65536, 12)

In [17]:
# 2) Load metadata
dtypes = {
        "article_id": "uint32",
        "category_id": "uint16",
        "publisher_id": "uint8",
        "words_count": "uint16"
    }

articles = pd.read_csv(META_PATH,dtype=dtypes)

articles["created_at_ts"] = pd.to_datetime(articles["created_at_ts"], unit="ms")
print(articles.shape)
articles.head()

(364047, 5)

   article_id  category_id       created_at_ts  publisher_id  words_count
0           0            0 2017-12-13 05:53:39             0          168
1           1            1 2014-07-14 12:45:36             0          189
2           2            1 2014-08-22 00:35:06             0          250
3           3            1 2014-08-19 17:11:53             0          230
4           4            1 2014-08-03 13:06:11             0          162

In [23]:
import numpy as np

def compute_scores(train_df, articles, half_life_days, beta, fresh_window_days, top_m=500):
    # 1) global reference time
    now = train_df["click_timestamp"].max()
    # 2) decay constant (per second)
    Î» = np.log(2) / pd.Timedelta(days=half_life_days).total_seconds()
    # 3) per-click weights
    ages    = (now - train_df["click_timestamp"]).dt.total_seconds()
    weights = np.exp(-Î» * ages)
    # 4) aggregate per article
    pop = (
        train_df.assign(weight=weights)
                .groupby("click_article_id")["weight"]
                .sum()
                .rename("pop_score")
                .to_frame()
    )
    # 5) join publication times
    pop = pop.join(
        articles.set_index("article_id")[["created_at_ts"]],
        how="left"
    )
    # 6) apply freshness boost
    is_fresh = (now - pop["created_at_ts"]) <= pd.Timedelta(days=fresh_window_days)
    pop["final_score"] = pop["pop_score"] * (1 + beta * is_fresh.astype(float))
    # 7) build cleaned candidates DF
    top_series = pop["final_score"].nlargest(top_m)
    cands = pd.DataFrame({
        "article_id": top_series.index.astype(int),
        "final_score": top_series.values
    })
    return cands


def recall_at_k(cands, articles, holdout_df, K):
    # pull publication dates
    pub_dates = articles.set_index("article_id")["created_at_ts"].to_dict()
    assert "article_id" in cands.columns, "cands missing article_id"
    
    # user â cutoff map
    user_cutoff = holdout_df.set_index("user_id")["click_timestamp"].to_dict()
    art_ids = cands["article_id"].tolist()
    hits = []
    for _, row in holdout_df.iterrows():
        uid, true_a = row["user_id"], row["click_article_id"]
        cutoff = user_cutoff[uid]
        # keep only articles published â¤ cutoff
        valid = [a for a in art_ids if pub_dates.get(a, pd.Timestamp(0)) <= cutoff]
        topk  = valid[:K]
        hits.append(true_a in topk)
    return np.mean(hits)

In [26]:
from itertools import product

results = []
for counter, (h, beta) in enumerate(product(HALF_LIFE_DAYS, BETA_VALUES)):
    print(f"Entry {counter+1}/{len(HALF_LIFE_DAYS)*len(BETA_VALUES)}: h={h}, Î²={beta}")
    cands = compute_scores(train_df, articles, h, beta, FRESH_WINDOW_DAYS, top_m=TOP_M)
    r = recall_at_k(cands, articles, val_df, RECALL_K)
    results.append({
        "half_life_days": h,
        "beta": beta,
        f"recall@{RECALL_K}": r
    })
    print(f" â Recall@{RECALL_K}: {r:.4f}\n")

df_res = pd.DataFrame(results)
best = df_res.sort_values(f"recall@{RECALL_K}", ascending=False).iloc[0]
print("Best hyperparameters:\n", best)

Entry 1/16: h=1, Î²=0.0
 â Recall@10: 0.0714

Entry 2/16: h=1, Î²=0.05
 â Recall@10: 0.0714

Entry 3/16: h=1, Î²=0.1
 â Recall@10: 0.0714

Entry 4/16: h=1, Î²=0.2
 â Recall@10: 0.0714

Entry 5/16: h=3, Î²=0.0
 â Recall@10: 0.1470

Entry 6/16: h=3, Î²=0.05
 â Recall@10: 0.1470

Entry 7/16: h=3, Î²=0.1
 â Recall@10: 0.1470

Entry 8/16: h=3, Î²=0.2
 â Recall@10: 0.1470

Entry 9/16: h=7, Î²=0.0
 â Recall@10: 0.0582

Entry 10/16: h=7, Î²=0.05
 â Recall@10: 0.0582

Entry 11/16: h=7, Î²=0.1
 â Recall@10: 0.0582

Entry 12/16: h=7, Î²=0.2
 â Recall@10: 0.0582

Entry 13/16: h=14, Î²=0.0
 â Recall@10: 0.0444

Entry 14/16: h=14, Î²=0.05
 â Recall@10: 0.0444

Entry 15/16: h=14, Î²=0.1
 â Recall@10: 0.0444

Entry 16/16: h=14, Î²=0.2
 â Recall@10: 0.0444

Best hyperparameters:
 half_life_days    3.000000
beta              0.000000
recall@10         0.147034
Name: 4, dtype: float64

## 3.2 Combine training and validation sets

In [27]:
import pandas as pd

# Cell: Final Evaluation on Test Set

# 1) Load splits (if not already in memory)
train_df = pd.read_parquet("../datasets/train_clicks.parquet")
val_df   = pd.read_parquet("../datasets/valid_clicks.parquet")
test_df  = pd.read_parquet("../datasets/test_clicks.parquet")

# Ensure timestamps are datetime
for df in (train_df, val_df, test_df):
    df["click_timestamp"] = pd.to_datetime(df["click_timestamp"], unit="ms")

In [29]:
# 2) Load metadata (if not already in memory)
articles = pd.read_csv(
    "../datasets/articles_metadata.csv",
    dtype={
        "article_id": "uint32",
        "category_id": "uint16",
        "publisher_id": "uint8",
        "words_count": "uint16"
    }
)
articles["created_at_ts"] = pd.to_datetime(articles["created_at_ts"], unit="ms")

In [30]:
# 3) Combine train + validation
train_plus_val = pd.concat([train_df, val_df], ignore_index=True)

In [31]:
# 4) Compute scores with best hyperparameters (h=3 days, Î²=0)
cands = compute_scores(
    train_plus_val,
    articles,
    half_life_days=3,
    beta=0.0,
    fresh_window_days=FRESH_WINDOW_DAYS,
    top_m=TOP_M
)

In [32]:
# 5) Evaluate on test set
test_recall = recall_at_k(cands, articles, test_df, RECALL_K)
print(f"Final Test Recall@{RECALL_K} (h=3, Î²=0): {test_recall:.4f}")

Final Test Recall@10 (h=3, Î²=0): 0.1211

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, LongType, IntegerType, DoubleType
import pandas as pd
import numpy as np
import pickle

# âââ 1) Start Spark with consoleâprogress enabled ââââââââââââââââââââââââââââââââ
spark = SparkSession.builder \
    .appName("ContentBasedSpark") \
    .config("spark.ui.showConsoleProgress", "true") \
    .getOrCreate()

sc = spark.sparkContext

# âââ 2) Config & broadcast data âââââââââââââââââââââââââââââââââââââââââââââââââ
M_CANDIDATES      = 50
K1, K2            = 5, 10
EMB_FP            = "../datasets/articles_embeddings.pickle"
META_FP           = "../datasets/articles_metadata.csv"
TRAIN_FP          = "../datasets/train_clicks.parquet"
VALID_FP          = "../datasets/valid_clicks.parquet"
UP_FP             = "../datasets/user_profiles.parquet"

# Load embeddings & normalize
with open(EMB_FP, "rb") as f:
    embs = pickle.load(f)
emb_norm = embs / np.linalg.norm(embs, axis=1)[:, None]

# Load metadata and build maps
meta = pd.read_csv(META_FP, usecols=["article_id","created_at_ts"])
meta["created_at_ts"] = pd.to_datetime(meta["created_at_ts"], unit="ms")
meta = meta.sort_values("article_id").reset_index(drop=True)
article_ids = meta["article_id"].to_numpy()
pub_map     = dict(zip(meta["article_id"], meta["created_at_ts"]))

# Load clicks and build seen/valâtime maps
train_pd     = pd.read_parquet(TRAIN_FP, engine="pyarrow")
val_pd       = pd.read_parquet(VALID_FP, engine="pyarrow")
val_pd["click_timestamp"] = pd.to_datetime(val_pd["click_timestamp"], unit="ms")
seen_map     = train_pd.groupby("user_id")["click_article_id"].apply(set).to_dict()
val_time_map = val_pd.set_index("user_id")["click_timestamp"].to_dict()

# Broadcast to executors
b_article_ids  = sc.broadcast(article_ids)
b_emb_norm     = sc.broadcast(emb_norm)
b_pub_map      = sc.broadcast(pub_map)
b_seen_map     = sc.broadcast(seen_map)
b_val_time_map = sc.broadcast(val_time_map)

# Load user profiles
up_df = spark.read.parquet(UP_FP)

25/04/30 14:42:50 WARN Utils: Your hostname, p962cnts8crs64g128g resolves to a loopback address: 127.0.0.1; using 10.0.0.4 instead (on interface eth0)
25/04/30 14:42:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/30 14:42:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
from pyspark.sql.types import StructType, StructField, LongType, IntegerType, DoubleType

# Define output schema
schema = StructType([
    StructField("user_id",    LongType(),    False),
    StructField("rank",       IntegerType(), False),
    StructField("article_id", LongType(),    False),
    StructField("score",      DoubleType(),  False),
])

def recommend_batch(pdf_iter):
    for pdf in pdf_iter:
        recs = {"user_id":[], "rank":[], "article_id":[], "score":[]}
        emb_cols = [c for c in pdf.columns if c != "user_id"]
        for row in pdf.itertuples(index=False):
            uid = int(row.user_id)
            uemb = np.array([getattr(row,c) for c in emb_cols], dtype=float)
            norm = np.linalg.norm(uemb)
            u_norm = uemb/norm if norm>0 else uemb

            sims = b_emb_norm.value.dot(u_norm)
            idxs = np.argpartition(-sims, M_CANDIDATES)[:M_CANDIDATES]
            idxs = idxs[np.argsort(-sims[idxs])]
            aids = b_article_ids.value[idxs]
            ss  = sims[idxs]

            cutoff = b_val_time_map.value.get(uid, pd.Timestamp.max)
            valid = [(a,s) for a,s in zip(aids,ss)
                     if b_pub_map.value.get(a,pd.Timestamp.min) <= cutoff]

            seen = b_seen_map.value.get(uid, set())
            filtered = [(a,s) for a,s in valid if a not in seen]

            for rank, (a,s) in enumerate(filtered[:K1], start=1):
                recs["user_id"].append(uid)
                recs["rank"].append(rank)
                recs["article_id"].append(int(a))
                recs["score"].append(float(s))
            for rank, (a,s) in enumerate(filtered[:K2], start=1):
                recs["user_id"].append(uid)
                recs["rank"].append(rank)
                recs["article_id"].append(int(a))
                recs["score"].append(float(s))
        
        yield pd.DataFrame(recs)

In [ ]:
# Apply the UDF in parallel
result = up_df.mapInPandas(recommend_batch, schema=schema)

# Write out your top-5 and top-10
result.filter("rank <= 5") \
      .write.mode("overwrite") \
      .csv("../datasets/content_recs_top5", header=True)

result.filter("rank <= 10") \
      .write.mode("overwrite") \
      .csv("../datasets/content_recs_top10", header=True)

spark.stop()

25/04/30 14:44:05 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [26]:
import pandas as pd
import numpy as np
import pickle
from tqdm import tqdm

# âââ CONFIG âââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââ
TRAIN_PATH        = "../datasets/train_clicks.parquet"
VALID_PATH        = "../datasets/valid_clicks.parquet"
USER_PROFILES_FP  = "../datasets/user_profiles.parquet"
EMB_PATH          = "../datasets/articles_embeddings.pickle"
META_PATH         = "../datasets/articles_metadata.csv"
OUTPUT_TOP5_CSV   = "../datasets/content_recs_top5_part1.csv"
OUTPUT_TOP10_CSV  = "../datasets/content_recs_top10_part1.csv"

M_CANDIDATES = 50   # number of top candidates before filtering
K1 = 5              # final top-5
K2 = 10             # final top-10

# âââ 1. Load training & validation clicks and user profiles âââââââââââââââââââââ
train_df        = pd.read_parquet(TRAIN_PATH, engine="pyarrow")
val_df          = pd.read_parquet(VALID_PATH, engine="pyarrow")
user_profiles   = pd.read_parquet(USER_PROFILES_FP, engine="pyarrow")

# Ensure timestamps are datetime
val_df["click_timestamp"] = pd.to_datetime(val_df["click_timestamp"], unit="ms")

# âââ 2. Load article embeddings (NumPy array) and metadata âââââââââââââââââââââ
with open(EMB_PATH, "rb") as f:
    embs = pickle.load(f)  # shape (N_articles, emb_dim)

meta = pd.read_csv(META_PATH, usecols=["article_id", "created_at_ts"])
meta["created_at_ts"] = pd.to_datetime(meta["created_at_ts"], unit="ms")
meta = meta.sort_values("article_id").reset_index(drop=True)

assert embs.shape[0] == len(meta), "Mismatch between embeddings and metadata count"


# Prepare arrays and maps
article_ids = meta["article_id"].to_numpy()
emb_norm = embs / np.linalg.norm(embs, axis=1)[:, None]
aid2pos = {aid: idx for idx, aid in enumerate(article_ids)}
pub_map = dict(zip(meta["article_id"], meta["created_at_ts"]))


# Seen articles per user (before validation click)
seen_map    = train_df.groupby("user_id")["click_article_id"].apply(set).to_dict()
# Validation click time per user
val_time_map = val_df.set_index("user_id")["click_timestamp"].to_dict()

# âââ 3. Compute recommendations âââââââââââââââââââââââââââââââââââââââââââââââââ
records5  = []
records10 = []

counter = 1

for _, urow in tqdm(user_profiles.iterrows()):
    if counter > 10_000:
        break
    uid = urow["user_id"]
    # a) User vector
    uemb = urow.drop("user_id").to_numpy()
    norm = np.linalg.norm(uemb)
    p_norm = uemb / norm if norm > 0 else uemb

    # b) Cosine similarities
    sims = emb_norm.dot(p_norm)

    # c) Top-M candidates
    idxs = np.argpartition(-sims, M_CANDIDATES)[:M_CANDIDATES]
    top_idxs = idxs[np.argsort(-sims[idxs])]
    cand_aids = article_ids[top_idxs]
    cand_sims = sims[top_idxs]

    # d) Filter by publication time (â¤ validation click)
    cutoff = val_time_map.get(uid, pd.Timestamp.max)
    valid = [(aid, sim) for aid, sim in zip(cand_aids, cand_sims)
             if pub_map.get(aid, pd.Timestamp.min) <= cutoff]

    # e) Filter out already-seen
    seen = seen_map.get(uid, set())
    filtered = [(aid, sim) for aid, sim in valid if aid not in seen]

    # f) Record top-5 and top-10
    for rank, (aid, sim) in enumerate(filtered[:K1], start=1):
        records5.append({"user_id": uid, "rank": rank, "article_id": aid, "score": sim})
    for rank, (aid, sim) in enumerate(filtered[:K2], start=1):
        records10.append({"user_id": uid, "rank": rank, "article_id": aid, "score": sim})
    counter += 1
# âââ 4. Save results ââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââ
pd.DataFrame(records5).to_csv(OUTPUT_TOP5_CSV, index=False)
pd.DataFrame(records10).to_csv(OUTPUT_TOP10_CSV, index=False)

print(f"Saved top-{K1} content-based recs â {OUTPUT_TOP5_CSV}")
print(f"Saved top-{K2} content-based recs â {OUTPUT_TOP10_CSV}")

0

(250,)

3668it [19:44,  3.10it/s]

KeyboardInterrupt:

In [25]:
user_profiles.shape

(65536, 251)

Saved 65536 user profiles â '../datasets/user_profiles.parquet'

## Top K = 10 articles' computation

In [27]:
import pandas as pd
import numpy as np
import pickle
from sklearn.neighbors import NearestNeighbors

# âââ CONFIG âââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââ
USER_PROFILES_PATH = "../datasets/user_profiles.parquet"
EMB_PATH           = "../datasets/articles_embeddings.pickle"
TRAIN_PATH         = "../datasets/train_clicks.parquet"
OUTPUT_PATH        = "../datasets/user_recs_content.parquet"
M_CANDIDATES       = 50  # number of neighbors to retrieve before filtering
K_RECOMMEND        = 10  # final number of recommendations per user

In [25]:


# âââ 1. Load user profiles and article embeddings âââââââââââââââââââââââââââââââ
user_profiles = pd.read_parquet(USER_PROFILES_PATH, engine="pyarrow")

with open(EMB_PATH, "rb") as f:
    embs = pickle.load(f)  # numpy array (num_articles, emb_dim)
# Load metadata to align article IDs
meta = pd.read_csv("articles_metadata.csv", usecols=["article_id"]).sort_values("article_id").reset_index(drop=True)
assert embs.shape[0] == len(meta), "Embedding count and metadata count mismatch"

# Build embeddings DataFrame: index=article_id, columns emb_0...emb_dim
emb_dim = embs.shape[1]
emb_cols = [f"emb_{i}" for i in range(emb_dim)]
emb_df = pd.DataFrame(embs, index=meta["article_id"], columns=emb_cols)
emb_df.index.name = "article_id"

# âââ 2. Fit NearestNeighbors on article embeddings âââââââââââââââââââââââââââââââ
nn_model = NearestNeighbors(n_neighbors=M_CANDIDATES, metric="cosine")
nn_model.fit(emb_df.values)
article_ids = emb_df.index.to_numpy()

# âââ 3. Load train clicks to get seen articles per user âââââââââââââââââââââââââ
train_df = pd.read_parquet(TRAIN_PATH, engine="pyarrow")
seen_articles = train_df.groupby("user_id")["click_article_id"].apply(set).to_dict()

# âââ 4. Generate and store top-K recs for each user âââââââââââââââââââââââââââââ
records = []
for idx, row in user_profiles.iterrows():
    uid = row["user_id"]
    profile_vec = row[emb_cols].to_numpy().reshape(1, -1)
    dists, idxs = nn_model.kneighbors(profile_vec)
    sims = 1 - dists.flatten()
    candidates = article_ids[idxs.flatten()]
    
    # Filter out seen articles
    seen = seen_articles.get(uid, set())
    filtered = [(aid, sim) for aid, sim in zip(candidates, sims) if aid not in seen]
    
    # Take top-K after filtering
    for rank, (aid, sim) in enumerate(filtered[:K_RECOMMEND], start=1):
        records.append({
            "user_id": uid,
            "recommendation_rank": rank,
            "article_id": aid,
            "score": sim
        })

# Build DataFrame and save
recs_df = pd.DataFrame(records)
recs_df.to_parquet(OUTPUT_PATH, engine="pyarrow", index=False)
print(f"Saved content-based recommendations for {recs_df['user_id'].nunique()} users â '{OUTPUT_PATH}'")

In [1]:
2+2

4