# 1. Get dataset from the Kaggle

In [13]:
# !curl "https://s3-eu-west-1.amazonaws.com/static.oc-static.com/prod/courses/files/AI+Engineer/Project+9+-+Réalisez+une+application+mobile+de+recommandation+de+contenu/news-portal-user-interactions-by-globocom.zip"

curl: (6) Could not resolve host: s3-eu-west-1.amazonaws.com

In [3]:
!pwd

/mnt/batch/tasks/shared/LS_root/mounts/clusters/ocp8-cpu/code/Users/george.gvishiani/ocp9/notebooks

# 2. Unzip all files

In [1]:
# !unzip "news-portal-user-interactions-by-globocom.zip"

In [5]:
!ls

data.ipynb

In [16]:
# !unzip "../datasets/clicks.zip" -d "../datasets/clicks/"

In [7]:
import pandas as pd

In [18]:
# clicks = pd.read_csv("clicks.csv")
clicks_sample = pd.read_csv("../datasets/clicks_sample.csv")
articles_metadata = pd.read_csv("../datasets/articles_metadata.csv")

## 2.1 Dataset: clicks_sample.csv

In [9]:
clicks_sample.shape

(1883, 12)

In [10]:
clicks_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1883 entries, 0 to 1882
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              1883 non-null   int64
 1   session_id           1883 non-null   int64
 2   session_start        1883 non-null   int64
 3   session_size         1883 non-null   int64
 4   click_article_id     1883 non-null   int64
 5   click_timestamp      1883 non-null   int64
 6   click_environment    1883 non-null   int64
 7   click_deviceGroup    1883 non-null   int64
 8   click_os             1883 non-null   int64
 9   click_country        1883 non-null   int64
 10  click_region         1883 non-null   int64
 11  click_referrer_type  1883 non-null   int64
dtypes: int64(12)
memory usage: 176.7 KB

In [11]:
clicks_sample.head()

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,0,1506825423271737,1506825423000,2,157541,1506826828020,4,3,20,1,20,2
1,0,1506825423271737,1506825423000,2,68866,1506826858020,4,3,20,1,20,2
2,1,1506825426267738,1506825426000,2,235840,1506827017951,4,1,17,1,16,2
3,1,1506825426267738,1506825426000,2,96663,1506827047951,4,1,17,1,16,2
4,2,1506825435299739,1506825435000,2,119592,1506827090575,4,1,17,1,24,2

In [19]:
clicks_sample.nunique()

user_id                 707
session_id              707
session_start           619
session_size             11
click_article_id        323
click_timestamp        1883
click_environment         3
click_deviceGroup         3
click_os                  6
click_country             7
click_region             26
click_referrer_type       6
dtype: int64

In [12]:
clicks_sample.describe()

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
count,1883.000000,1.883000e+03,1.883000e+03,1883.000000,1883.000000,1.883000e+03,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000
mean,355.893787,1.506828e+15,1.506828e+12,3.459904,176717.848646,1.506830e+12,3.917153,2.305895,12.113648,1.491768,18.774827,1.764206
std,206.162865,8.679628e+08,8.679468e+05,3.037467,82324.177259,1.064938e+07,0.410461,1.062301,7.825735,2.007772,7.083400,1.225679
min,0.000000,1.506825e+15,1.506825e+12,2.000000,2137.000000,1.506827e+12,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000
25%,181.500000,1.506827e+15,1.506827e+12,2.000000,108854.000000,1.506828e+12,4.000000,1.000000,2.000000,1.000000,13.000000,1.000000
50%,353.000000,1.506828e+15,1.506828e+12,3.000000,157541.000000,1.506828e+12,4.000000,3.000000,17.000000,1.000000,21.000000,1.000000
75%,537.000000,1.506828e+15,1.506828e+12,4.000000,236697.500000,1.506829e+12,4.000000,3.000000,19.000000,1.000000,25.000000,2.000000
max,706.000000,1.506829e+15,1.506829e+12,24.000000,363291.000000,1.506998e+12,4.000000,4.000000,20.000000,11.000000,28.000000,7.000000

## 2.2 Dataset: articles_metadata

In [19]:
articles_metadata.shape

(364047, 5)

In [15]:
articles_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364047 entries, 0 to 364046
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   article_id     364047 non-null  int64
 1   category_id    364047 non-null  int64
 2   created_at_ts  364047 non-null  int64
 3   publisher_id   364047 non-null  int64
 4   words_count    364047 non-null  int64
dtypes: int64(5)
memory usage: 13.9 MB

In [16]:
articles_metadata.head()

   article_id  category_id  created_at_ts  publisher_id  words_count
0           0            0  1513144419000             0          168
1           1            1  1405341936000             0          189
2           2            1  1408667706000             0          250
3           3            1  1408468313000             0          230
4           4            1  1407071171000             0          162

In [17]:
articles_metadata.describe()

,article_id,category_id,created_at_ts,publisher_id,words_count
count,364047.000000,364047.000000,3.640470e+05,364047.0,364047.000000
mean,182023.000000,283.108239,1.474070e+12,0.0,190.897727
std,105091.461061,136.723470,4.293038e+10,0.0,59.502766
min,0.000000,0.000000,1.159356e+12,0.0,0.000000
25%,91011.500000,199.000000,1.444925e+12,0.0,159.000000
50%,182023.000000,301.000000,1.489422e+12,0.0,186.000000
75%,273034.500000,399.000000,1.509891e+12,0.0,218.000000
max,364046.000000,460.000000,1.520943e+12,0.0,6690.000000

## 2.3 Combine several files about clicks per hour from clicks.zip into one file

In [17]:
# 1. Imports
import os
import pandas as pd
# from azureml.core import Workspace, Datastore, Dataset
import pandas as pd, glob, os

In [18]:
# grab a sample of raw values
paths = glob.glob(os.path.join("../datasets/clicks", "*.csv"))

In [22]:
import os
import glob
import pandas as pd

# 1. Define the smallest-possible dtypes for each integer column
clicks_dtypes = {
    "user_id":             "uint16",
    "session_id":          "uint16",
    "session_size":        "uint8",
    "click_article_id":    "uint16",
    "click_environment":   "uint8",
    "click_deviceGroup":   "uint8",
    "click_os":            "uint8",
    "click_country":       "uint8",
    "click_region":        "uint8",
    "click_referrer_type": "uint8"
}

In [23]:
# 2. Find all CSV files in the clicks directory
clicks_dir = "../datasets/clicks"
csv_files = glob.glob(os.path.join(clicks_dir, "*.csv"))
print(f"Found {len(csv_files)} files under '{clicks_dir}/'")

Found 385 files under '../datasets/clicks/'

In [24]:
# 3. Read each CSV with enforced dtypes, convert timestamps, collect into a list
dfs = []
for fp in csv_files:
    df = pd.read_csv(fp, dtype=clicks_dtypes)
    # Convert epoch-milliseconds → datetime64[ns]
    df["session_start"]   = pd.to_datetime(df["session_start"],   unit="ms")
    df["click_timestamp"] = pd.to_datetime(df["click_timestamp"], unit="ms")
    dfs.append(df)

In [25]:
type(dfs)

list

In [27]:
dfs[0].shape

(2283, 12)

In [29]:
dfs[0].head()

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,28327,26291,2017-10-13 03:36:32,2,30674,2017-10-13 03:37:12.925,4,3,2,1,21,2
1,28327,26291,2017-10-13 03:36:32,2,27022,2017-10-13 03:37:42.925,4,3,2,1,21,2
2,31892,19636,2017-10-13 03:36:35,2,20691,2017-10-13 03:36:59.095,4,3,20,1,9,2
3,31892,19636,2017-10-13 03:36:35,2,30674,2017-10-13 03:37:29.095,4,3,20,1,9,2
4,11600,43061,2017-10-13 03:36:36,2,8565,2017-10-13 03:42:13.178,4,3,2,1,25,2

In [30]:
# 4. Concatenate into one DataFrame
clicks_df = pd.concat(dfs, ignore_index=True)

In [31]:
clicks_df.head()

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,28327,26291,2017-10-13 03:36:32,2,30674,2017-10-13 03:37:12.925,4,3,2,1,21,2
1,28327,26291,2017-10-13 03:36:32,2,27022,2017-10-13 03:37:42.925,4,3,2,1,21,2
2,31892,19636,2017-10-13 03:36:35,2,20691,2017-10-13 03:36:59.095,4,3,20,1,9,2
3,31892,19636,2017-10-13 03:36:35,2,30674,2017-10-13 03:37:29.095,4,3,20,1,9,2
4,11600,43061,2017-10-13 03:36:36,2,8565,2017-10-13 03:42:13.178,4,3,2,1,25,2

In [32]:
clicks_df.shape

(2988181, 12)

In [33]:
# 5. Inspect dtypes and memory footprint
print(clicks_df.dtypes)
mem_mb = clicks_df.memory_usage(deep=True).sum() / 2**20
print(f"Combined DataFrame memory usage: {mem_mb:.2f} MB")

user_id                        uint16
session_id                     uint16
session_start          datetime64[ns]
session_size                    uint8
click_article_id               uint16
click_timestamp        datetime64[ns]
click_environment               uint8
click_deviceGroup               uint8
click_os                        uint8
click_country                   uint8
click_region                    uint8
click_referrer_type             uint8
dtype: object
Combined DataFrame memory usage: 82.64 MB

In [34]:
# 6. (Optional) Persist to disk for downstream use
output_path = "../datasets/combined_clicks.parquet"
clicks_df.to_parquet(output_path, index=False)
print(f"Wrote combined DataFrame to '{output_path}'")

Wrote combined DataFrame to '../datasets/combined_clicks.parquet'

In [35]:
import pandas as pd

# Load the combined clicks Parquet
clicks_df = pd.read_parquet("../datasets/combined_clicks.parquet")

# Quick sanity check
print(clicks_df.shape)
print(clicks_df.dtypes)

(2988181, 12)
user_id                        uint16
session_id                     uint16
session_start          datetime64[ns]
session_size                    uint8
click_article_id               uint16
click_timestamp        datetime64[ns]
click_environment               uint8
click_deviceGroup               uint8
click_os                        uint8
click_country                   uint8
click_region                    uint8
click_referrer_type             uint8
dtype: object

In [36]:
import pandas as pd

# Explicit min/max for clear range
min_ts = clicks_df['session_start'].min()
max_ts = clicks_df['session_start'].max()
print(f"Click timestamps span from {min_ts} to {max_ts}")
print(f"Date range: {min_ts.date()} → {max_ts.date()}")

Click timestamps span from 2017-10-01 02:37:03 to 2017-10-17 03:36:19
Date range: 2017-10-01 → 2017-10-17

## 2.4 Create Train/Validation/Testing Dataset - Last Click Out for Each User

### Creation of training dataset

In [37]:
# 1. Load & sort
clicks_df = pd.read_parquet("../datasets/combined_clicks.parquet")
clicks_df.head()

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,28327,26291,2017-10-13 03:36:32,2,30674,2017-10-13 03:37:12.925,4,3,2,1,21,2
1,28327,26291,2017-10-13 03:36:32,2,27022,2017-10-13 03:37:42.925,4,3,2,1,21,2
2,31892,19636,2017-10-13 03:36:35,2,20691,2017-10-13 03:36:59.095,4,3,20,1,9,2
3,31892,19636,2017-10-13 03:36:35,2,30674,2017-10-13 03:37:29.095,4,3,20,1,9,2
4,11600,43061,2017-10-13 03:36:36,2,8565,2017-10-13 03:42:13.178,4,3,2,1,25,2

In [38]:
clicks_df = clicks_df.sort_values(["user_id", "click_timestamp"])
clicks_df.head()

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
858202,0,46905,2017-10-01 02:37:03,2,26469,2017-10-01 03:00:28.020,4,3,20,1,20,2
858203,0,46905,2017-10-01 02:37:03,2,3330,2017-10-01 03:00:58.020,4,3,20,1,20,2
1533659,0,11407,2017-10-02 14:19:46,2,29902,2017-10-02 14:20:35.463,4,1,17,1,25,2
1533660,0,11407,2017-10-02 14:19:46,2,59758,2017-10-02 14:21:05.463,4,1,17,1,25,2
514461,0,52099,2017-10-03 14:20:40,2,8796,2017-10-03 14:22:08.076,4,1,17,1,25,2

In [63]:
# 2. Identify test clicks (last per user)
last_idx = clicks_df.groupby("user_id")["click_timestamp"].idxmax()
is_test  = clicks_df.index.isin(last_idx)

In [49]:
# 3. From the TRAIN portion, identify validation clicks (now the last in train_df)
train_df_full = clicks_df.loc[~is_test]
print(train_df_full.shape)
print(clicks_df.shape)

(2922645, 12)
(2988181, 12)

In [64]:
val_idx       = train_df_full.groupby("user_id")["click_timestamp"].idxmax()
is_val        = clicks_df.index.isin(val_idx)

In [65]:
# 4. Build splits
train_df = clicks_df.loc[~is_test & ~is_val].reset_index(drop=True)
val_df   = clicks_df.loc[ is_val         ].reset_index(drop=True)
test_df  = clicks_df.loc[ is_test        ].reset_index(drop=True)
print(train_df.shape)
print(val_df.shape)
print(test_df.shape)

(2857109, 12)
(65536, 12)
(65536, 12)

In [66]:
print(f"Train: {len(train_df):,} clicks")
print(f"Val:   {len(val_df):,} clicks (one per user)")
print(f"Test:  {len(test_df):,} clicks (one per user)")

Train: 2,857,109 clicks
Val:   65,536 clicks (one per user)
Test:  65,536 clicks (one per user)

### Removing articles if they were published after last published article in training set

#### Testing set

In [67]:
# 1. Load the articles metadata to get publication timestamps
articles_metadata = pd.read_csv("../datasets/articles_metadata.csv")

# 2. Find the timestamp of the last article in the training data
# First, get all article IDs in the training data
train_article_ids = train_df["click_article_id"].unique()

In [68]:
# Filter articles metadata to only include training articles
train_articles = articles_metadata[articles_metadata["article_id"].isin(train_article_ids)]

# Get the timestamp of the last published article in the training data
# Assuming there's a 'created_at_ts' column in articles_metadata
last_train_article_ts = train_articles["created_at_ts"].max()

In [69]:
# 3. Filter test data to only include articles published before or at the same time as the last training article
# First, create a mapping from article_id to publication timestamp
article_to_pub_time = dict(zip(articles_metadata["article_id"], articles_metadata["created_at_ts"]))

In [70]:
# Filter test_df to only include articles published before the cutoff
valid_test_df = test_df[test_df["click_article_id"].apply(
    lambda article_id: article_to_pub_time.get(article_id, 0) <= last_train_article_ts
)]

In [71]:
# After filtering the test data
valid_test_df = test_df[test_df["click_article_id"].apply(
    lambda article_id: article_to_pub_time.get(article_id, 0) <= last_train_article_ts
)]

# Calculate the number of entries removed
total_test_entries = len(test_df)
valid_test_entries = len(valid_test_df)
removed_entries = total_test_entries - valid_test_entries

# Calculate percentage
removal_percentage = (removed_entries / total_test_entries) * 100 if total_test_entries > 0 else 0

# Print statistics
print(f"Original test set: {total_test_entries} entries")
print(f"Filtered test set: {valid_test_entries} entries")
print(f"Removed {removed_entries} entries ({removal_percentage:.2f}%) with articles published after the training cutoff")

# You could also analyze which articles were removed
if removed_entries > 0:
    future_articles_mask = ~test_df["click_article_id"].apply(
        lambda article_id: article_to_pub_time.get(article_id, 0) <= last_train_article_ts
    )
    future_articles = test_df[future_articles_mask]["click_article_id"].unique()
    print(f"Number of unique future articles removed: {len(future_articles)}")

Original test set: 65536 entries
Filtered test set: 65536 entries
Removed 0 entries (0.00%) with articles published after the training cutoff

### Validation Test

In [72]:
# # 1. First, we need to find the timestamp of the last article in the training data
# # (Assuming we've already loaded articles_metadata and created article_to_pub_time dictionary)

# # Get all article IDs in the training data
# train_article_ids = train_df["click_article_id"].unique()

# # Filter articles metadata to only include training articles
# train_articles = articles_metadata[articles_metadata["article_id"].isin(train_article_ids)]

# # Get the timestamp of the last published article in the training data
# last_train_article_ts = train_articles["created_at_ts"].max()

# 2. Filter validation data to only include articles published before or at the same time as the last training article
valid_val_df = val_df[val_df["click_article_id"].apply(
    lambda article_id: article_to_pub_time.get(article_id, 0) <= last_train_article_ts
)]

# 3. Calculate statistics
total_val_entries = len(val_df)
valid_val_entries = len(valid_val_df)
removed_val_entries = total_val_entries - valid_val_entries
removal_percentage = (removed_val_entries / total_val_entries) * 100 if total_val_entries > 0 else 0

# 4. Print statistics
print(f"Original validation set: {total_val_entries} entries")
print(f"Filtered validation set: {valid_val_entries} entries")
print(f"Removed {removed_val_entries} entries ({removal_percentage:.2f}%) with articles published after the training cutoff")

# 5. Optionally analyze which articles were removed
if removed_val_entries > 0:
    future_articles_mask = ~val_df["click_article_id"].apply(
        lambda article_id: article_to_pub_time.get(article_id, 0) <= last_train_article_ts
    )
    future_articles = val_df[future_articles_mask]["click_article_id"].unique()
    print(f"Number of unique future articles removed from validation set: {len(future_articles)}")

# 6. Save the filtered validation dataset
valid_val_df.to_parquet("../datasets/filtered_valid_clicks.parquet", index=False)

Original validation set: 65536 entries
Filtered validation set: 65536 entries
Removed 0 entries (0.00%) with articles published after the training cutoff

### Save clean validation and test sets

In [73]:
output_path_train = "../datasets/train_clicks.parquet"
output_path_valid = "../datasets/valid_clicks.parquet"
output_path_test = "../datasets/test_clicks.parquet"

In [74]:
train_df.to_parquet(output_path_train, index=False)
val_df.to_parquet(output_path_valid, index=False)
test_df.to_parquet(output_path_test, index=False)